body {
  /* background-color: rgb(43, 34, 48); */
  font-family: "Helvetica Neue", sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form {
  margin: 60px;
  height: 200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.form > input {
  height: 40px;
  width: 80vw;
  margin: 20px;
  text-indent: 20px;
  border-radius: 35px;
  border: 0.5px solid black;
  outline: none;
  cursor: pointer;
}

.form > button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  /* border: 0.5px solid black; */
  border: none;
  background-color: rgb(0, 123, 255);
  font-size: 24px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

/* .results {
  height: 20vh;
} */

.results {
  display: flex;
  margin: 0;
  justify-content: center;
}

ul {
  /* overflow: scroll; */
  list-style: none;
  /* position: fixed; */
  margin: 0;
  padding: 0;
}
li {
  border: 0.5px solid black;
  box-shadow: 0px 0px 5px rgb(5, 5, 5, 0.7);
  /* border-radius: 55px; */
  width: 600px;
  padding: 15px;
  margin: 15px 0px;
  background-color: white;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-weight: 400;
  font-size: 24px;
